$color-primary: #0F62FE;
$color-white: #fff;
$color-black-30: #A1A7B5;
$color-black-40: #81899D;
$color-black-85: #222327;
$color-black-90: #17171A;
$link-color-default: #0C5BEF;
$link-dark-default: #00133A;
$color-hawkes-blue: #F0F6FE;
$color-button-bordered: #002DBF;

$font-family: 'Nunito Sans';